<div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 translate="login.title">Authentication</h1>

            <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>
            <form class="form" role="form">
                <input type="hidden" ng-model="signData" name="signData">
                <input type="hidden" ng-model="signature" name="signature">

                <button type="submit" class="btn btn-primary btn-lg" ng-click="loginByAndroid()">ВХОД ПО ЭЦП</button>
            </form>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>
