<div ng-cloak>
    <div class="row">
        <!--
        <div class="col-md-4"></div>
        -->
        <div class="col-md-12 text-center">
            <h4>Прототип для Системы информационного обмена правохранительных и специальных органов Республики Казахстан</h4>
        </div>
    </div>
</div>

<div ng-controller="LoginController">
    <div class="row" ng-show="!isAuthorized(userRoles.admin)">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>
            <form class="form" role="form">
                <input type="hidden" ng-model="signData" name="signData">
                <input type="hidden" ng-model="signature" name="signature">

                <button type="submit" class="btn btn-primary btn-lg" ng-click="loginByIOS()">ВХОД ПО ЭЦП</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" ng-show="isAuthorized(userRoles.admin)">
        <div class="col-md-1"></div>
        <div class="col-md-10 well">
            <p>Через верхнее меню вы можете перейти на страницы запроса сервисов.</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
