<div ng-controller="Service3Controller">
    <h3>Сведения о декларации по нефтепродуктам</h3>

    <form class="request-form" name="form" role="form" novalidate show-validation>
        <ul class="nav nav-tabs" ng-init="searchType = 1">
            <li ng-class="{'active': searchType == 1}"><a href="javascript:;" ng-click="searchType = 1">Поиск по ИИН</a></li>
            <li ng-class="{'active': searchType == 2}"><a href="javascript:;" ng-click="searchType = 2">Поиск по ФИО</a></li>
            <li ng-class="{'active': searchType == 3}"><a href="javascript:;" ng-click="searchType = 3">Поиск по наименованию ЮЛ</a></li>
        </ul>
        <br>
        <div ng-show="searchType == 1">
            <div class="form-group">
                <label class="control-label">ИИН/БИН</label>
                <input class="form-control" type="text" ng-model="iinBin"/>
            </div>
            <div class="form-group">
                <label class="control-label">РНН</label>
                <input class="form-control" type="text" ng-model="rnn"/>
            </div>
        </div>

        <div ng-show="searchType == 2">
            <div class="form-group">
                <label class="control-label">Фамилия</label>
                <input class="form-control" type="text" ng-model="surname"/>
            </div>
            <div class="form-group">
                <label class="control-label">Имя</label>
                <input class="form-control" type="text" ng-model="firstName"/>
            </div>
            <div class="form-group">
                <label class="control-label">Отчество</label>
                <input class="form-control" type="text" ng-model="middleName"/>
            </div>
            <div class="form-group">
                <label class="control-label">Дата рождения</label>
                <input class="form-control" type="date" ng-model="birthDate"/>
            </div>
        </div>

        <div ng-show="searchType == 3">
            <div class="form-group">
                <label class="control-label">Наименование ЮЛ</label>
                <input class="form-control" type="text" ng-model="companyName"/>
            </div>
        </div>

        <div class="button-loader-result">
            <button ng-click="send()" class="btn btn-primary" ng-hide="loading">Отправить</button>
            <div ng-show="loading"><img src="../images/ajax-loader-blue.gif"></div>
            {{rResult}}
        </div>

    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Запрос</th>
                    <th>Просмотр</th>
                </tr>
                </thead>
                <tbody id="response_list">
                <tr ng-repeat="item in answer track by $index">
                    <td>{{ item.jsonRequest }}</td>
                    <td><a href="#/service{{ item.serviceType }}/view/{{ item.id }}">Посмотреть запрос</a></td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
