<div class="table-responsive" ng-controller="stringToXML">
    <div class="button-block">
        <button class="btn btn-default" ng-click="xml(1)">Запрос в XML</button>
        <button class="btn btn-default" ng-click="xml(2)">Ответ в XML</button>
    </div>
    <h3>Общая информация</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Параметр</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody id="response_list">
        <tr>
            <td>РНН</td>
            <td>{{record.jsonRequest[0].rnn}}</td>
        </tr>
        <tr>
            <td>ИИН/БИН</td>
            <td>{{record.jsonRequest[0].iinBin}}</td>
        </tr>
        <tr>
            <td>Налоговый период, за который представляется налоговая отчетность</td>
            <td>{{record.jsonRequest[0].taxPeriod}}</td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>{{record.jsonRequest[0].surname}}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{record.jsonRequest[0].name}}</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>{{record.jsonRequest[0].middleName}}</td>
        </tr>
        <tr>
            <td>Вид декларации</td>
            <td>{{record.jsonRequest[0].declarationType}}</td>
        </tr>
        <tr>
            <td>Номер уведомления</td>
            <td>{{record.jsonRequest[0].numberNotified}}</td>
        </tr>
        <tr>
            <td>Дата Уведомления</td>
            <td>{{record.jsonRequest[0].dateNotified | date:'dd.MM.yyyy'}}</td>
        </tr>
        <tr>
            <td>Категория налогоплательщика</td>
            <td>{{record.jsonRequest[0].categoryTaxpayer}}</td>
        </tr>
        <tr>
            <td>Место работы</td>
            <td>{{record.jsonRequest[0].workPlace}}</td>
        </tr>
        </tbody>
    </table>
    <h3>Раздел «Виды доходов»:</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Параметр</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody id="response_list2">
        <tr>
            <td>общая сумма начисленных доходов, подлежащих налогообложению</td>
            <td>{{record.jsonRequest[0].itemsOfIncome.totalATaxIncome}}</td>
        </tr>
        <tr>
            <td>общая сумма доходов, облагаемых у источника выплаты</td>
            <td>{{record.jsonRequest[0].itemsOfIncome.totalAmountIncomeSubject}}</td>
        </tr>
        <tr>
            <td>общая сумма доходов, не облагаемых у источника выплаты</td>
            <td>{{record.jsonRequest[0].itemsOfIncome.totalAmountIncomeNotSubject}}</td>
        </tr>
        <tr>
            <td>сумма удержанного налога по доходам, облагаемым у источника выплаты</td>
            <td>{{record.jsonRequest[0].itemsOfIncome.amountTaxWithheldIncomeSubject}}</td>
        </tr>
        <tr>
            <td>сумма исчисленного налога по доходам</td>
            <td>{{record.jsonRequest[0].itemsOfIncome.calculatedAmountTaxIncome}}</td>
        </tr>
        </tbody>
    </table>
    <div id="dialog">
        <pre>{{answer}}</pre>
    </div>
</div>
