<div class="table-responsive" ng-controller="stringToXML">
    <div class="button-block">
        <button class="btn btn-default" ng-click="xml(1)">Запрос в XML</button>
        <button class="btn btn-default" ng-click="xml(2)">Ответ в XML</button>
    </div>
    <h3>Общая информация</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Параметр</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody id="response_list">
        <tr>
            <td>Наименование (ЮЛ, ИП)</td>
            <td>{{record.jsonRequest[0].companyName}}</td>
        </tr>
        <tr>
            <td>РНН</td>
            <td>{{record.jsonRequest[0].rnn}}</td>
        </tr>
        <tr>
            <td>ИИН/БИН</td>
            <td>{{record.jsonRequest[0].iinBin}}</td>
        </tr>
        <tr>
            <td>Фамилия</td>
            <td>{{record.jsonRequest[0].surname}}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{record.jsonRequest[0].name}}</td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td>{{record.jsonRequest[0].middleName}}</td>
        </tr>
        <tr>
            <td>Дата рождения</td>
            <td>{{record.jsonRequest[0].birthDate | date:'dd.MM.yyyy'}}</td>
        </tr>
        <tr>
            <td>Дата постановки на рег. учет. по месту нахождения</td>
            <td>{{record.jsonRequest[0].dateReg | date:'dd.MM.yyyy'}}</td>
        </tr>
        </tbody>
    </table>
    <h3>Сведения о разрешении на декларации по нефтепродуктам</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Параметр</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody id="response_list2">
        <tr>
            <td>Серия</td>
            <td>{{record.jsonRequest[0].serial}}</td>
        </tr>
        <tr>
            <td>Номер</td>
            <td>{{record.jsonRequest[0].number}}</td>
        </tr>
        <tr>
            <td>Дата выдачи</td>
            <td>{{record.jsonRequest[0].dateDelivery | date:'dd.MM.yyyy'}}</td>
        </tr>
        <tr>
            <td>Дата постановки на учета</td>
            <td>{{record.jsonRequest[0].dateOfIssue | date:'dd.MM.yyyy'}}</td>
        </tr>
        <tr>
            <td>Дата снятия с учета</td>
            <td>{{record.jsonRequest[0].dateRemove | date:'dd.MM.yyyy'}}</td>
        </tr>
        </tbody>
    </table>
    <div id="dialog">
        <pre>{{answer}}</pre>
    </div>
</div>
